$('.vpos')
  .on('ajax:send', function () { $(this).addClass('loading'); })
  .on('ajax:complete', function () { $(this).removeClass('loading'); })
  .on('ajax:error', function () { $(this).after('<div class="error">There was an issue.</div>'); })
  .on('ajax:success', function (data) {$('.ncount-<%= @link.id %>').html('<%=escape_javascript @link.get_downvotes.size.to_s %>'); 
  $('.vcount-<%= @link.id %>').html('<%=escape_javascript @link.get_upvotes.size.to_s %>');
  });


